<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/stylesheets/style.css">
    <script src="../javascript/bootstrap.js"></script>
    <title>Nerdflix</title>
    <link rel="shortcut icon" href="../public/icons/icons8-netflix-80.svg" type="image/x-icon">
</head>

<body>
    <header>
        <div class="container">
            <img src="../public/images/icons8-netflix-96.png" alt="">
        </div>
    </header>

    <div class="menu text-center">
        <div class="container">
            <div class="row">
                <div class="col-2"></div>
                <div class="col-8 col-sm-12">
                    <div class="row justify-content-center">
                        <div class="col-profile">
                            <div class="card card-default bg-transparent">
                                <a href="menu.html" class="card-hover text-decoration-none">
                                    <img class="card-img-top rounded-bottom" width="100" height="100" src="../public/images/lanterna.png" alt="">
                                    <img class="pencil-edit" src="../public/icons/icons8-pencil-64.png" width="30" alt="">
                                    <span>User 1</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-profile">
                            <div class="card card-default bg-transparent">
                                <a href="menu.html" class="card-hover text-decoration-none">
                                    <img class="card-img-top rounded-bottom" width="100" height="100" src="../public/images/batman.png" alt="">
                                    <img class="pencil-edit" src="../public/icons/icons8-pencil-64.png" width="30" alt="">
                                    <span>User 2</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-profile">
                            <div class="card card-default bg-transparent">
                                <a href="menu.html" class="card-hover text-decoration-none">
                                    <img class="card-img-top rounded-bottom" width="100" height="100" src="../public/images/aquaman.png" alt="">
                                    <img class="pencil-edit" src="../public/icons/icons8-pencil-64.png" width="30" alt="">
                                    <span>User 3</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-profile">
                            <div class="card card-default bg-transparent">
                                <a href="menu.html" class="card-hover text-decoration-none">
                                    <img class="card-img-top rounded-bottom" width="100" height="100" src="../public/images/flash.jpg" alt="">
                                    <img class="pencil-edit" src="../public/icons/icons8-pencil-64.png" width="30" alt="">
                                    <span>User 4</span>
                                </a>
                            </div>
                        </div>
                        <div class="col-profile">
                            <div class="card card-default bg-transparent">
                                <a href="menu.html" class="card-hover text-decoration-none">
                                    <img class="card-img-top rounded-bottom" width="100" height="100" src="../public/images/superman.png" alt="">
                                    <img class="pencil-edit" src="../public/icons/icons8-pencil-64.png" width="30" alt="">
                                    <span>User 5</span>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="row pt-5">
                        <div class="col text-center">
                            <a href="index.html" class="btn-profile text-decoration-none ps-4 pe-4 pt-1 pb-1">Voltar</a>
                        </div>
                    </div>
                </div>
                <div class="col-2"></div>
            </div>
        </div>
    </div>
    </div>
</body>

</html>